*.tmp
*.bak
*.swp
*.launch
**/.DS_Store
.DS_Store
library/.project
library/.classpath
library/.settings/
library/local.properties
library/lint.xml
library/bin/**
library/gen/**
library/tmp/**
library/proguard/**
example/.project
example/.classpath
example/.settings/
example/local.properties
example/lint.xml
example/bin/**
example/gen/**
example/tmp/**
example/proguard/**
